services:
  postgres:
    image: postgres:17-alpine
    restart: always
    ports:
      - "${DB_PORT}:5432"
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "pg_isready",
          "-d",
          "$$POSTGRES_DB",
          "-U",
          "$$POSTGRES_USER",
        ]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 40s

  export-service:
    image: quay.io/massbank/massbank-export-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: always
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      MB_DATA_DIRECTORY: ${MB_DATA_DIRECTORY}
      CORS_ALLOWED_ORIGINS: ${CORS_ALLOWED_ORIGINS:-*}
      DB_HOST: postgres
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    volumes:
      - "${MB_DATA_DIRECTORY}:/MassBank-data:ro"