# ----------------------
# Database configuration
# ----------------------

# The port of the database
DB_PORT=5432

# The database user name
DB_USER=massbank3

# The database password
DB_PASSWORD=massbank3password

# The database host name
DB_HOST=postgres

# The name of the database
DB_NAME=records

# The location of the MassBank-data folder
MB_DATA_DIRECTORY="./MassBank-data"